.service-table-icon {
  display: block;
  margin: 0 auto;
}

.catitem-box input {
  background: var(--black-neutral3) !important;
  padding: 10px 14px;
  border: unset;
  outline: none;
}

[theme="custom-light"] .catitem-box input {
  background: #fff !important;
  border: 1px solid #aeabab6b;
}
