/* LoaderContainer.module.css */
.loader-container {
  width: 100%;
  height: 100vh;
  position: relative;
}

.loader {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  border-top: 4px solid var(--secondary-color);
  border-right: 4px solid transparent;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
  position: absolute;
  top: calc(50% - 120px);
  left: calc(50% - 120px);
}

.loader::after {
  content: "";
  box-sizing: border-box;
  position: absolute;
  left: 0;
  top: 0;
  width: 120px;
  height: 120px;
  border-radius: 50%;
  border-left: 4px solid var(--primary-color);
  border-bottom: 4px solid transparent;
  animation: rotation 0.5s linear infinite reverse;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

//Preloader //
#preloader {
  overflow: hidden;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 99999;
  display: flex;
  align-items: center;
  justify-content: center;
}
.layla-preloader {
  min-width: 10px;
  min-height: 10px;
  background: linear-gradient(
    153deg,
    rgba(255, 255, 255, 0.258) -65.62%,
    rgba(255, 255, 255, 0.168) 83.28%
  );
  -webkit-backdrop-filter: blur(100px);
  backdrop-filter: blur(100px);
  animation: vow 2s cubic-bezier(0.165, 0.84, 0.44, 1);
  border-radius: 50%;
}
@keyframes vow {
  50% {
    min-width: 1000px;
    min-height: 1000px;
  }
  100% {
    min-width: 1500px;
    min-height: 1500px;
    opacity: 0;
  }
}
//Preloader //
